body {
  font-family: "Baskervville", serif;
  background-color: #e9b055b8;
  text-align: center;
}

button {
  padding: 30px 50px;
  font-size: 35px;
  margin: 30px;
  width: 250px;
  text-align: center;
  background-color: #e6cdb2e7;
  border-color: #763413b9;
  border-width: 5px;
  color: #50240ed6;
  border-radius: 11%;
  display: inline-block;
}

.header {
  background-color: #91441e9b;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
  color:#55250dd2;
}

.header2 {
  font-size: 35px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.backButton {
  font-size: 16px;
  padding: 0px;
  position: absolute;
  left: 10px;
  width:100px;
}

@media (max-width: 700px) {
  .header2 {
    font-size: 25px;
  }

  .backButton {
    font-size: 12px;
    width: 70px;
  }
}

.table {
  width: 100%;
  margin-top: 20px;
  border-bottom: 2px solid #505050;
}

#addRecipeForm {
  margin-top: 5px;
}

.remove-icon {
  width: 15px;
  border-radius: 50%;  /* Makes the background circular */
  cursor: pointer;
  margin: 0px;
  margin-right: 10px;
  display: none;
}

#btn-control {
  font-size: 16px;
}